/* ------------------ Responsive ------------------ */

@media screen and (min-width: 1401px) {
  .container-profile-view {
    margin-top: 20vh;
    margin-left: 260px;
  }
}

@media screen and (max-width: 1400px) {
  .container-profile-view {
    margin-top: 5vh;
    margin-left: calc(260px + 3vw);
  }
}

/* ------------------ Containers ------------------ */

.container-profile-view {
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.container-profile {
  gap: 2rem;
  flex-wrap: wrap;
  width: fit-content;
  row-gap: 4rem;
}

.container-profile .container-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  max-width: 550px;
  row-gap: 3rem;
}

.container-profile .container-informations {
  gap: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 4rem 5vw;
  padding-top: 4rem;
  align-items: center;
  height: fit-content;
}

.container-informations .form-profile {
  gap: 1rem;
  min-width: 250px;
}

.form-profile fieldset {
  border: none;
  padding: 0;
}

/* ------------------ Texts ------------------ */

.container-stats .error-stats {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
}

.container-informations .edit-avatar {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--blue);
  margin-top: -1rem;
  font-weight: 500;
  cursor: pointer;
}

.form-profile fieldset label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.profile-error {
  color: var(--error-code);
  font-size: 12px;
  margin: 0.2rem;
  text-align: left;
  margin-bottom: -0.5rem;
}

/* ------------------ Images ------------------ */

.container-informations .avatar {
  width: 5rem;
  object-fit: contain;
  border-radius: 999px;
  box-shadow: 0px 0px 32px 12px rgba(0, 0, 0, 0.1);
}

/* ------------------ Inputs ------------------ */

.form-profile fieldset input {
  background-color: var(--background-inputs-form);
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 5px;
}

.form-profile fieldset input:focus {
  outline: 2px solid var(--background-sign);
}

/* ------------------ Buttons ------------------ */

.logout {
  color: var(--error-code);
  padding: 0.5rem 1rem;
  border-radius: 999px;
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  border: none;
  width: 100%;
  outline: none;
  margin: -2rem 0;
  cursor: pointer;
  margin-top: -1rem;
  transform-style: preserve-3d;
}

.logout:hover {
  transform: scale(0.9);
  transition: 0.5s ease;
  cursor: pointer;
}

.logout:focus {
  outline: 2px solid var(--blue);
}

.form-profile button {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  background-color: var(--background-nav);
  color: var(--white);
  font-size: 14px;
  border: none;
  outline: none;
  margin-top: 1rem;
}

.form-profile button:hover {
  transform: scale(0.9);
  transition: 0.5s ease;
  cursor: pointer;
}

.form-profile button:focus {
  outline: 2px solid var(--blue);
}

.form-profile button:not(:hover) {
  transform: scale(1);
  transition: 0.5s ease;
}
