/* ------------------ Responsive ------------------*/

@media screen and (min-width: 1401px) {
  .container-leaderboard-page h1 {
    font-size: 50px;
    padding-left: 2rem;
  }
  .see-more-button {
    font-size: 16px;
  }
  .sort-button {
    font-size: 16px;
  }
  .container-leaderboard-page .container-leaderboard-content {
    min-height: calc(100vh - (76px + 2rem));
  }
}

@media screen and (max-width: 1400px) {
  .container-leaderboard-page h1 {
    font-size: 32px;
    padding-left: 1rem;
  }
  .see-more-button {
    font-size: 12px;
  }
  .sort-button {
    font-size: 12px;
  }
  .container-leaderboard-page .container-leaderboard-content {
    min-height: calc(100vh - (48px + 2rem));
  }
}

/* ------------------ Containers ------------------*/

.container-leaderboard-page {
  margin-left: 260px;
  overflow: hidden;
}

.container-leaderboard-page .container-title-buttons {
  justify-content: space-between;
  padding: 1rem 0.5rem;
  align-items: center;
}

.container-title-buttons .container-pagination {
  gap: 3vw;
  margin-bottom: -0.5rem;
}

.container-leaderboard-page .container-leaderboard-content {
  background-color: var(--background-sign);
  overflow-x: auto;
  min-width: calc(100vw - 240px);
}

.container-leaderboard-header {
  background-color: var(--background-nav);
  color: var(--white);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 50px 180px 125px 70px 85px 120px 200px 64px;
  grid-gap: 50px;
  font-size: 12px;
}

.cell-leaderboard {
  display: flex;
  width: 100%;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
}

.separation-leaderboard {
  padding: 0.5rem 1rem;
  align-items: center;
  background-color: var(--background-sign);
}

.container-sort-btn {
  gap: 0.5rem;
  align-items: center;
}

/* ------------------ Texts ------------------*/

.container-leaderboard-page h1 {
  color: var(--white);
}

.container-leaderboard-page h1 span {
  color: var(--cyan);
}

/* ------------------ Buttons ------------------*/

.container-leaderboard-page .sort-button {
  background-color: var(--white);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  width: fit-content;
  align-self: center;
  color: var(--background-nav);
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 600;
  min-width: 8vw;
  transition: 0.5s ease;
  margin-bottom: 0.2rem;
  box-shadow: 0px 0px 17px 5px #48affd30;
}

.container-leaderboard-page .sort-button:focus {
  outline: 2px solid var(--blue);
}

.container-leaderboard-page .sort-button:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.container-leaderboard-page .sort-button:not(:hover) {
  transform: scale(1);
}

.container-leaderboard-page .see-more-button {
  background-color: var(--background-nav);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  width: fit-content;
  align-self: center;
  color: var(--white);
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 600;
  min-width: 8vw;
  transition: 0.5s ease;
  margin-bottom: 0.2rem;
  box-shadow: 0px 0px 17px 5px #48affd30;
}

.container-leaderboard-page .see-more-button:focus {
  outline: 2px solid var(--blue);
}

.container-leaderboard-page .see-more-button:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.container-leaderboard-page .see-more-button:not(:hover) {
  transform: scale(1);
}

/* ------------------ Others ------------------*/

.container-leaderboard-header .container-sort img {
  width: 12px;
  object-fit: contain;
  transform: rotate(180deg);
}

.container-leaderboard-content::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  cursor: pointer;
}

.container-leaderboard-content::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}

.container-leaderboard-content::-webkit-scrollbar-thumb {
  background: var(--background-nav);
  border-radius: 999px;
  cursor: pointer;
}

.container-leaderboard-content::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
  cursor: pointer;
}
